*{
    margin: 0px;
    padding: 0px
}
.lis{
    margin: auto;
    background-color: red;
    text-align: center;
    list-style: none;
    padding: 5px;
}
.segunda{
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
.segunda *{
    padding: 5px;
    margin: 5px 0px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    margin: 5px 0px;
}
form *{
    margin: 5px 0px;
}
.ultimo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    color: white;
}
.ultimo *{
    margin: 10px 0px;
}